<div class="navigation-controller-header">
	<div class="quiz-back-button completion-toggle">{{l "_QUIZ_BUTTON_BACK"}}</div>
	<div class="quiz-share-button completion-toggle">{{l "_QUIZ_BUTTON_SHARE"}}</div>
	<div class="progress completion-toggle">
		<div class="progress-text completion-toggle"></div>
		<progress></progress>
	</div>
	<div class="quiz-title completion-toggle">{{l title}}</div>
	<div class="quiz-next-button completion-toggle">{{l "_QUIZ_BUTTON_NEXT"}}</div>
	<div class="quiz-finish-button completion-toggle">{{l "_QUIZ_BUTTON_FINISH"}}</div>
</div>
<div class="page-content"></div>
<div class="new-page-content"></div>
