<div class="navigation-controller-header">
  <a href="javascript:history.go(-1)" class="back-button">
    <i class="fa fa-chevron-left"></i>
  </a>
  <div class="title">{{l title}}</div>
</div>
<div class="page-content"></div>
<div class="new-page-content"></div>
<div class="tab-bar">
  {{#each pages}}
    <div class="TabBarItem clickable" data-uri="{{src}}"
         data-link-type="InternalLink" data-clear-stack="true">
      <div>
				<span class="img-container"
              style="-webkit-mask-image:url('{{getImageUrl tabBarItem.image}}'); mask-image:url('{{getImageUrl tabBarItem.image}}')">
					<img src="{{getImageUrl tabBarItem.image}}">
				</span>
      </div>
      <p>{{l tabBarItem.title}}</p>
    </div>
  {{/each}}
</div>
