<div data-win-control="WinJS.UI.Pivot"
     data-win-options="{ title: '{{l appName}}', selectedIndex: 0 }"
     class="pivot">
  {{#each pages}}
    <div data-win-control="WinJS.UI.PivotItem"
         data-win-options="{ 'header': '{{l tabBarItem.title}}'}">
      <div class="page-container" data-src="{{src}}"></div>
    </div>
  {{/each}}
</div>
<div data-win-control="WinJS.UI.AppBar"
     data-win-options="{placement: 'bottom'}"
     data-storm-win-body="root-appbar">
  {{#each appBarTabs}}
    <button class="no-ring clickable"
            data-uri="{{src}}"
            data-win-control="WinJS.UI.AppBarCommand"
            data-win-options="{id:'{{src}}',
              type: 'button',
              section: 'primary',
              label: '{{l tabBarItem.title}}',
              icon: 'url({{getImageUrl tabBarItem.image}})'}"></button>
  {{/each}}
  <button data-win-control="WinJS.UI.AppBarCommand"
          data-win-options="{
            type: 'button',
            section: 'primary',
            label: 'Settings',
            icon: 'settings'}"
          class="clickable"
          data-uri="app://settings"></button>
</div>
